@import "_constants.scss";

#dashboardBracket {
  display: none;
  .stages {
    & > ul {
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      justify-content: space-between;
      margin: 10px 0px;
      /* temp */
      border: white solid 1px;
    }
    .bracket {
      display: flex;
      flex-direction: column;
    }
  }
}
