
.icon-play:before { content: '\e800'; } /* '' */
.icon-record:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-minus-circled:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */